@{
    ViewBag.Title = "";
}

<div style="text-align: center;">
    <iframe style="width:100%; max-width:1000px; height:500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.7408720929354!2d126.92270582924095!3d37.55592399873747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c98c3188f1bd7%3A0x2fa3d691a3da9d78!2z66-465SU7Ja07IaU66Oo7IWY!5e0!3m2!1sko!2skr!4v1479369291338" frameborder="0"></iframe>
    <hr style="border-top: 1px solid #eeeeee;" />
    <div class="panel panel-default">
        <div class="panel-body">
            <p>주소 : 서울특별시 마포구 동교동 165-8</p> <p>전화번호 : 02-324-9555</p> <p>Fax : 02-335-0598</p>
        </div>
    </div>
</div>