<footer>
    <div class="panel-footer">
        <a href="#"><span class="btn btn-default">회사소개</span></a>
        <a href="/Home/Agreement"><span class="btn btn-default">이용약관</span></a>
        <a href="/Home/Personalprotect"><span class="btn btn-default">개인정보 취급방침</span></a>
        <a href="#"><span class="btn btn-default">이용안내</span></a>
        <a href="https://www.facebook.com/profile.php?id=100007669689944"><span class="btn btn-default">페이스북<span class="fa fa-facebook-square"></span></span></a>
    </div>
</footer>
<footer>
    <div>
        <div class="panel-footer" style="background-color: white;">
            COPYRIGHT &copy; CKS 2016 ALL RIGHT RESERVED.
        </div>
    </div>
</footer>